/* ==========================
	Write your solution here!
   ========================== */

/* Layout */

body {
   margin: 0;
   /* text-align: center; */
}

.nav {
   background-color: #F8F8F8;
   margin: 0 auto;
   min-height: 150px;

   display: flex;
   flex-direction: column;
   /* text-align: center; */
   justify-content: center;
   align-items: center;
}

@media (min-width: 1000px){
   .nav {
      flex-direction: row;
      justify-content: space-between;
   }
}

/* Typography */

.title {
   color: #143774;
   font-family: 'Lora', serif;
   font-weight: 400;
   font-size: 3rem;
   margin: 1em;

}

.link {
   color: #717171;
   font-family: 'Ubuntu', sans-serif;
   font-weight: 800;
   font-size: 1.25rem;
   margin: .75em;
   text-decoration: none;
   text-transform: uppercase;
}

.current-page {
   text-decoration: underline;
}

/* navigation */

.links {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   /* width: 60%; */
   margin: 1em;
   justify-content: space-between;
   align-items: center;
   /* text-align: center; */
}

@media (min-width: 1000px){
   .links {
      flex-direction: row;
      max-width: 50%;
   }
}